language: python

python:
  - '3.6'

addons:
  apt_packages:
    - pandoc

install:
  - pip install -r requirements.txt
  - pip install -r dev-requirements.txt

script:
  - flake8
  - nosetests

deploy:
  provider: pypi
  user: $PYPI_USERNAME
  password: $PYPI_PASSWORD
  distributions: "sdist bdist_wheel"
  on:
      tags: true
